.root {
    width: 100% !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* border: 5px solid red; */
}
.login-ui {
    width: 400px !important;
    height: 400px !important;
    /* border: 5px solid blue; */
}
.login-header {
    background-color: #ef6e2e !important;
    color: #fff !important;
    font-size: 18px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.login-ui-footer {
    background-color: #feebdd !important;
}
.btn-login {
    background-color: #fac8a0 !important;
    border: 0 !important;
    color: #000 !important;
    border-radius: 0 !important;
    padding: 6px 20px !important;
}
.custom-nav-bar {
    background-color: #fff !important;
    height: 100px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.nav-inner {
    background-color: #f26721 !important;
    height: 60px !important;
    border-top: 1px solid #fff !important;
}
.logo {
    min-height: 50px !important;
    max-height: 95px !important;
    float: left !important;
    margin-top: -1px !important;
}
.logo2 {
    width: 25px !important;
}

.lv-policy-body input::placeholder,
.mlv-policy-body input::placeholder {
    font-size: 9px !important;
}

.encash-policy-body input::placeholder,
.salary-rule-body input::placeholder,
.salary-heads-body input::placeholder,
.salary-deduct-rule-body input::placeholder {
    font-size: 10px !important;
    padding-left: 5px;
}
.salary-rule-body input {
    font-size: 12px !important;
}

.salary-heads-body .select2-selection--multiple,
.salary-heads-body .custom-select-sm,
.salary-heads-body .select2-selection {
    font-size: 12px !important;
    min-height: 0;
}
